# Xcode
.DS_Store
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
**/xcuserdata/

# Swift Package Manager
.build/
.swiftpm/

# Build generated
.build/
*.o
*.linkfilelist
*.hmap

# Swift Package Manager
Packages/
Package.pins
Package.resolved
*.xcodeproj
*.xcworkspace

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
# After new code Injection tools there's a generated folder /iOSInjectionProject
# https://github.com/johnno1962/injectionforxcode
iOSInjectionProject/

# Local development
.localized
.env
.env.*
!.gitkeep
