<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-5443685985835981~6505178726</string>
	<key>UIAppFonts</key>
	<array>
		<string>HagridTextBold.otf</string>
		<string>CreatoDisplay-Thin.ttf</string>
		<string>CreatoDisplay-RegularItalic.ttf</string>
		<string>CreatoDisplay-Regular.ttf</string>
		<string>CreatoDisplay-MediumItalic.ttf</string>
		<string>CreatoDisplay-Medium.ttf</string>
		<string>CreatoDisplay-LightItalic.ttf</string>
		<string>CreatoDisplay-Light.ttf</string>
		<string>CreatoDisplay-ExtraBoldItalic.ttf</string>
		<string>CreatoDisplay-ExtraBold.ttf</string>
		<string>CreatoDisplay-BoldItalic.ttf</string>
		<string>CreatoDisplay-Bold.ttf</string>
		<string>CreatoDisplay-BlackItalic.ttf</string>
		<string>CreatoDisplay-Black.ttf</string>
	</array>
	<key>WAITLIST_API_KEY</key>
	<string>3f29507f5acb723da6e2dd17ef03cc1e0fb251e168921df239eff08db4c7f818</string>
	<key>WAITLIST_ID</key>
	<string>692a5e0756c6f029be661676</string>
</dict>
</plist>
